<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="NuGetJail" value="http://gitlab.ivtek/api/v4/projects/276/packages/nuget/index.json" allowInsecureConnections="true" />
		<add key="NuGet" value="https://api.nuget.org/v3/index.json" />
		<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
	</packageSources>
	<packageSourceCredentials>
		<NuGetJail>
			<add key="Username" value="gitlab+deploy-token-read-packages" />
			<add key="ClearTextPassword" value="gldt-dD4-PErj1Z246a8qs8Ym" />
		</NuGetJail>
	</packageSourceCredentials>
</configuration>