<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<target name="console" xsi:type="Console" layout="${date:format=HH\:mm\:ss}|${level}|${message}" />
		<target name="file"  xsi:type="File" Encoding="UTF-8" fileName="${basedir}/nlog.txt" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level:uppercase=true}|${threadid}|${threadname}|${callsite}|${message}|${exception:format=type,Message,Method,StackTrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>
